{% extends "home.html" %}

{% load static %}

{% block contenidoCambiante %}
<form action="{% url 'estadios' %}" method="post">{% csrf_token %}

    <table> 
        {{formulario.as_table}}
    </table>

    <input type="submit" value="Enviar">

</form>

<form action="{% url 'buscarEstadios' %}" method="get">

    <input type="text" placeholder="Nombre" name="nombre" id="nombre">

    <input type="submit" value="Buscar">

</form>

{% if estadios %}
    {% if nombre %}
        <h1 style="color:white"> Estamos buscando los estadios con nombre: {{nombre}} </h1>
        <ul>
            {% for estadio in estadios %}
            <li style="color:white">{{estadio.nombre}} </li>   
            <li style="color:white">{{estadio.direccion}} </li>
            <li style="color:white">{{estadio.fechaConstruccion}} </li>
            <li style="color:white">{{estadio.propietario}} </li>
            <br>
            {% endfor %}   
        </ul>
    {% endif %}
    {% else %}
        <p style="color:black"> No se encontraron resultados para ese nombre </p>
{% endif %}
{% endblock %}
